
body {
    /* Old browsers */
    background: #3E2723; /* Dark Sienna */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #3E2723, #654321);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #3E2723, #654321);
    font-family: cursive;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

.piano-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 0;
}

h1 {
    font-size: 2em;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  #pianos-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .piano {
    border: 5px solid #8B4513;
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #D2B48C;
    text-align: center; /* Centrer le texte */
  }
  
  .piano h2 {
    font-size: 24px;
    margin-top: 0;
  }
  
  .piano p {
    margin: 5px 0;
  }
  

  .piano img {
    max-width: 100%; 
    max-height: 300px;
  }


  img {
    border-radius: 5px;
  }


  .lien_photo {
    /* Style du lien */
    display: inline-block;
    padding: 10px 20px;
    background-color: #8B4513; /* Marron foncé */
    color: #FFF; /* Texte blanc */
    text-decoration: none; /* Supprimer le soulignement */
    font-family: Georgia, serif; /* Police de caractères */
    font-size: 16px;
    border: 2px solid #8B4513; /* Bordure marron foncé */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */

    /* Effet au survol */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
}

.lien_photo:hover {
    background-color: #D2B48C; /* Marron plus clair au survol */
    color: #000; /* Texte noir au survol */
}


.lien_photo:active {
  background-color: #A0522D; /* Nouvelle couleur lorsque le bouton est cliqué */
  color: #000; /* Texte noir */
}