
body {
    /* Old browsers */
    background: #3E2723; /* Dark Sienna */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(-45deg, #3E2723, #654321);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(-45deg, #3E2723, #654321);
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px;
}

#chargement {
  width: 200px;
  height: 200px;
  opacity: 1;
  transition: opacity 1s ease-out; /* Ajoute une transition d'opacité de 0.5 seconde */
  box-shadow: none;
}

#chargement.hidden {
  opacity: 0; /* Baisse l'opacité à 0 lorsqu'il est masqué */
}

.bold-text  {
  font-weight: 700;
}
/* .piano-card {
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px 0;
} */

h2 {
    margin-bottom: 10px;
}

p {
    margin: 3px;

}

.normal {
  font-weight: normal;
}

.conteneur-texte h1 {
    display: table; /* Passer à un affichage en bloc pour occuper toute la largeur */
    text-align: center;
    font-family: 'Space Mono', sans-serif;
    padding: 10px 20px;
    /* margin: 2px; */
    margin: 0 auto; /* Centrage horizontal */
    background-color: #8B4513; /* Marron foncé */
    color: #FFF; /* Texte blanc */
    /* font-family: Georgia, serif; Police de caractères */
    /* font-size: 16px; */
    border: 2px solid #8B4513; /* Bordure marron foncé */
    border-radius: 5px; /* Coins arrondis */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 

}

#Barre_de_selection{
  margin: 0 auto;
  margin-top: calc(28vh); /* à  ajouter à cause de la barre de menu qui 
  suit l'utilisateur */
  max-width: 800px; /* Limite la largeur maximale du conteneur */
  display: flex; /* pour avoir les différentes choses que l'on peut choisir dans la barre de sélection qui 
  se mettent sur une même ligne */
  align-items: stretch; /* Centre verticalement */
  justify-content: center;
  flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
  
}

.pianos-container {
  /* max-width: 800px; */
  margin: 0 auto;
  margin-top: calc(25vh); /* à  ajouter à cause de la barre de menu qui 
  suit l'utilisateur */
  /* margin-top: calc(25vh);  */
  /* à  ajouter à cause de la barre de menu qui 
  suit l'utilisateur */
  padding: 20px;
  display: flex; /* Utilisation de flexbox permet d'avoir les éléments de la 
  même taille sur une même ligne */
  flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */

}#pianos-container {
  /* max-width: 800px; */
  margin: 0 auto;
  /* margin-top: calc(25vh);  */
  /* à  ajouter à cause de la barre de menu qui 
  suit l'utilisateur */
  padding: 20px;
  display: flex; /* Utilisation de flexbox permet d'avoir les éléments de la 
  même taille sur une même ligne */
  flex-wrap: wrap; /* Permettre le retour à la ligne des éléments */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
}
  
.piano {
  position: relative;
  display: inline-block;
  border: 5px solid #8B4513;
  border-radius: 15px;
  padding: 20px;
  padding-top: 10px;
  margin: 20px;
  background:#D2B48C;
  text-align: left; /* a gauche pour le numéro */
  height: 521px;
  width: 400px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  /* 5px de décalage horizontal, 5px de décalage vertical, flou de 10px, couleur de l'ombre avec une opacité de 0.5 */    

}

.piano h2 {
  font-size: 24px;
  margin-top: 0;
}

/*C'est la marque donc le nom du piano*/
.piano h3 {
  font-family: 'Space Mono', sans-serif;
  margin: 5px;
  margin-top: 0px;
}

.piano p {
  margin: 5px 0;
}

.piano img {
  max-width: 100%; 
  max-height: 300px;
  margin: auto;
  transition: transform 0.3s ease; /* Ajoute une transition pour l'effet de transformation */
}

.piano img:hover {
  transform: scale(1.05); /* Agrandit l'image de 5% lorsqu'elle est survolée */
}

img {
  border-radius: 30px;
  margin: 10px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.conteneur-texte img {
  
}


  .lien_photo, .bouton, select{
    /* Style du lien */
    display: inline-block;
    font-family: Orbitron, sans-serif;
    padding: 10px 20px;
    background-color: #8B4513; /* Marron foncé */
    color: #FFF; /* Texte blanc */
    text-decoration: none; /* Supprimer le soulignement */
    font-size: 16px;
    border: 2px solid #8B4513; /* Bordure marron foncé */
    border-radius: 5px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    transition: background-color 0.3s, color 0.3s; /* Transition en douceur */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    /* Effet au survol */
  
}
.bouton, select{
  display: table; /* Passer à un affichage en bloc pour occuper toute la largeur*/
  margin: 0 auto; /* Centrage horizontal */
  
}

select{
  /* max-width: 800px; */
  padding: 20px;
  margin: 0px 20px; /* Haut et bas : 10px, gauche et droite : 20px */
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  flex: 2; /* Permet aux éléments d'occuper le même espace horizontalement */
}
.lien_photo:hover, .bouton:hover, select:hover{
    background-color: #D2B48C; /* Marron plus clair au survol */
    color: #000; /* Texte noir au survol */
}


.lien_photo:active, .bouton:active, select:active{
  background-color: #A0522D; /* Nouvelle couleur lorsque le bouton est cliqué */
  color: #000; /* Texte noir */
}

#piano_num {
  display: inline-block;
  margin: 0; /* Supprime toute marge externe */
  /* margin: 100px; */
  text-align:left;
  font-family: 'Space Mono', sans-serif;
  padding: 1px 1px;
  background-color: #654321; /* Marron foncé */
  color: #FFF; /* Texte blanc */
  /* font-family: Georgia, serif; Police de caractères */
  font-size: 16px;
  border: 2px solid #8B4513; /* Bordure marron foncé */
  border-radius: 5px; /* Coins arrondis */
}
.corpscasepiano {
  text-align:center;
  margin: 0;
  padding: 0;
}


/* HEADER  */

.clavier-piano {
  position: fixed; /* Fixer la position de l'en-tête */
  top: 0; /* Fixer l'en-tête en haut de la fenêtre du navigateur */
  left: 0;
  width: 100vw; /* Largeur en fonction de la largeur de la fenêtre */
  height: 100px; /* Hauteur fixe */
  z-index: 1000; /* Assurez-vous que l' */
  display: flex;
  justify-content: center;
  background-color: #000;
  padding: 0;
  visibility: hidden;
}

.toucheb, header a {
  width: calc(100vw / 7); /* 7 touches blanches */
  height: calc(20vh);
  background-color: rgb(255, 255, 255);
  /* background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(230, 230, 230, 0.8)); */
  /* border: 4px solid #000; */
    border-top-left-radius: 0; /* Coin supérieur gauche : forme de rectangle */
    border-top-right-radius: 0; /* Coin supérieur droit : forme de rectangle */
  border-bottom-left-radius: 1vw; /* Coin inférieur gauche : coins arrondis */
  border-bottom-right-radius: 1vw; /* Coin inférieur droit : coins arrondis */
  display: flex;
  box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 0.9;
  line-height: 150%;

}

header a {
  display: flex;
  flex-direction: column;
  justify-content: 110% ;
  /* height: 100%; */
  color: #000;
  padding: 10px;
  text-decoration: none;
  font-weight: bold; /* Mettre le texte en gras */
  text-align: center;
  font-family: "Orbitron", sans-serif;
  background: white;
  transition: background 0.5s, background-color 0.5s;
  overflow: hidden; /* Masquer tout contenu dépassant des limites de l'élément */
  min-width: 105px;
  min-height: 60px;
  /* max-width: 100px; */
  font-size: 1.2vw; /* Taille de police relative */
}

.touchen {
  width: calc(100vw / 14); /* 14 touches noires */
  height: calc(18vh);
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0.1, 0.1, 0.1, 0.4));
  border-top-left-radius: 0; /* Coin supérieur gauche : forme de rectangle */
  border-top-right-radius: 0; /* Coin supérieur droit : forme de rectangle */
  border-bottom-left-radius: 10px; /* Coin inférieur gauche : coins arrondis */
  border-bottom-right-radius: 10px; /* Coin inférieur droit : coins arrondis */
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: visible;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 

}

header a:hover {
  background: linear-gradient(to top, rgba(167, 167, 167, 0.5), rgba(255, 255, 255, 0.9)); /* Dégradé blanc avec transparence */
  background-color: #a6a6a6;

}
header a:active {
  background-color: #414141;
  background: #a6a6a6;
}

.touchen.milieu {
  min-width: 30px;
  min-height: 50px;

}


.conteneur-texte {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  border: 5px solid #8B4513;
  width: 80%;
  border-radius: 15px;
  padding: 20px;
  margin: 20px;
  background:#D2B48C;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
  text-align: justify; /* Alignement du texte à gauche */
  /* 5px de décalage horizontal, 5px de décalage vertical, flou de 10px, couleur de l'ombre avec une opacité de 0.5 */    
}

.conteneur-texte p, .conteneur-texte h3, .conteneur-texte h4 {
  text-align: left;
}

.text {
  justify-content: space-around;
}

/* A voir s'il faut l'enlever déjà un truc dans le select */


/* Ajouter un style pour la flèche du menu déroulant */
#colorPicker::-ms-expand {
  display: none; /* Masquer la flèche pour Internet Explorer */
}

/* Style des options */
  option {
  font-family: Orbitron, sans-serif;
  background-color: #D2B48C; /* Marron plus clair au survol */
  color: #000; /* Couleur du texte */
  padding: 10px;
  font-size: 16px;
}
option:hover{
  background-color: #845313; /* Marron plus clair au survol */
}
/* Effet au survol (pas possible sur option, donc uniquement sur le select) */
#colorPicker:hover {
  background-color: #D2B48C; /* Marron plus clair au survol */
  color: #000000;
}

/* Style au focus */
select:focus {
  outline: none;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5); /* Ombre au focus */
}

@media screen and (max-width: 768px) {
    /* Styles pour les appareils mobiles */

  .pianos-container {
    flex-direction: column;   /* Aligne les éléments verticalement */
    align-items: center;      /* Centre les éléments horizontalement (facultatif) */
    justify-content: flex-start; /* Aligne les éléments en haut du conteneur */
  

  }
  .toucheb {
    visibility: hidden;
  }

  header a {
    font-size: 3vw; /* Taille de police relative */
  }

  .touchen {
    visibility: hidden;
  }

  .touchen.milieu {
  visibility: visible;
  }
  .piano {
    height: auto;
  }
}